html, body {
    margin: auto;

    height: 100%;

    font-family: sans-serif;

    color: #000;
}

main {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

nav {
    background-color: #fff;
}

.logo {
    width: 200px;
}

.navbar-content {
    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
}

.content {
    display: flex;
    flex-direction: column;
}

.blue-piggy-banner {
    min-height: 600px;

    color:#fff;
    background-color: #94c9ed;

    display: flex;
    flex-direction: row;

    column-gap: 6vw;
}

.banner-image-container {
    width: 55vw;

    background-image: url("images/banner_img.jpg");
    background-position: center;
    background-size: cover;
}

.banner-text-container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-left: unset;
}

.banner-text-container h1 {
    margin-bottom: auto;

    font-size: 3em;
    font-weight: 500;

    line-height: 1.1em;
}

.banner-text-container h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.banner-text-container a {
    margin-top: 1.5em;

    color: #000;
    background-color: #fff;
    
    font-size: 0.9em;
    text-decoration: none;

    border-radius: 10px;

    padding-top: 12px;
    padding-bottom: 12px;

    width: 150px;

    text-align: center;

    box-shadow: 0 .25em .5em 0 rgba(0,0,0,.3);
}

.banner-text-container a:visited {
    color: #fff;
}

.banner-text-container a:hover {
    color: #d1d0d0;
}

.blue-piggy-info-boxes {
    background-color: #fff;
}

.info-boxes-container {
    
    max-width: 930px;
    min-width: 930px;

    display: flex;
    justify-content: center;

    column-gap: 40px;

    padding-right: 30px;
    padding-left: 30px;

    margin-top: -60px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    color: #fff;
    background-color: #343e6c;

    border-radius: 40px;

    box-shadow: 0 .25em .5em 0 rgba(0,0,0,.2);
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    width: 33.33%;
    text-align: center;
    padding: 13px;
}

.info-box p {
    margin: unset;
    line-height: 1.1em;
}

.fa-star {
    font-size: 1.3em;
    padding-left: 0.2em;
}

.fa-heart {
    font-size: 2.3em;
}

.fa-location-dot {
    font-size: 2.3em;
}

.blue-piggy-subheader {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #fff;
}

.subheader-text-container {
    width: 90vw;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;
}

.subheader-text-container h2 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: auto;
}

.subheader-text-container p {
    margin-bottom: 0;

    text-align: center;
}

.blue-piggy-slideshow {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #f5f5f5;
}

.product-slideshow-container {
    width: 80vw;
    max-width: 1300px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    column-gap: 40px;
}

.product-text-container {
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
}

.product-text-container h2 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 2.5em;
    font-weight: 500;

    line-height: 1;
}

.product-text-container p {
    color: #808080;
}

#product-slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-slideshow .glide__slide {
    height: 400px;
    color: #fff;
    background: rgb(136, 133, 133);
    font-size: 1em;
    font-weight: 900;
}

#product-slideshow .glide__arrow--left {
    left: 0;

    padding: unset;

    border: none;

    box-shadow: none;
    text-shadow: none;

    font-size: 4em;
}

#product-slideshow .glide__arrow--right {
    right: 0;

    padding: unset;

    border: none;

    box-shadow: none;
    text-shadow: none;

    font-size: 4em;
}

.blue-piggy-commissions {
    padding-top: 50px;
    padding-bottom: 50px;

    color: #fff;
    background-color: #343e6c;
}

.commissions-text-container {
    width: 90vw;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    align-items: center;

    text-align: center;
}

.commissions-text-container h2 {
    margin: auto;

    font-size: 2.5em;
    font-weight: 500;
}

.commissions-text-container p {
    font-size: 1.5em;
}

.commissions-text-container a {
    color: #000;
    background-color: #fff;

    font-size: 0.9em;
    text-decoration: none;

    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 200px;

    text-align: center;

    box-shadow: 0 .25em .5em 0 rgba(0,0,0,.3);
}

.commissions-text-container a:visited {
    color: #fff;
}

.commissions-text-container a:hover {
    color: #d1d0d0;
}

.blue-piggy-reviews {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #fff;
}

.review-slideshow-container {
    width: 80vw;
    max-width: 1300px;

    margin-left: auto;
    margin-right: auto;
}

.review-link-container {
    display: flex;
    align-items: center;
    max-width: 310px;
    width: 100%;
    justify-content: space-between;
}

#etsy-logo {
    width: 100px;
}

.review-link-container a {
    color: #fff;
    background-color: #000;

    font-size: 0.9em;
    text-decoration: none;

    border-radius: 10px;

    padding-top: 12px;
    padding-bottom: 12px;

    width: 150px;

    text-align: center;

    box-shadow: 0 .25em .5em 0 rgba(0,0,0,.3);
}

.review-link-container a:visited {
    color: #fff;
}

.review-link-container a:hover {
    color: #d1d0d0;
}

#review-slideshow .glide__slide {
    display: flex;
    align-items: center; 

    column-gap: 8em;

    height: 400px;

    color: #000;

    font-weight: 500;
}


.review-text-container {
    margin-left: 7em;

    font-size: 1.3em;
    line-height: 1.3;
}

.dice-review-type-text {
    font-size: 0.7em;
    color: #808080;
}

.review-body-text {
    text-align: justify;
}

#review-slideshow img {
    margin-right: 7em;

    width: 100%;
    height: 100%;

    min-width: 284.333px;

    object-fit: cover;
}

#review-slideshow .glide__arrow {
    color: #000;
    padding: 16px 18px;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 1.3em;
}

#review-slideshow .glide__arrow--left {
    left: 0;
    padding-right: 21px;
}

#review-slideshow .glide__arrow--right {
    right: 0;
    padding-left: 21px;
}

footer {
    background-color: #f5f5f5;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;

    max-width: 1300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    max-width: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#etsy-social {
    height: 40px;
    margin-right: 10px;
}

#instagram-social {
    height: 40px;
    margin-right: 10px;
}

@media (max-width: 1280px) {
    #review-slideshow .glide__slide {
        column-gap: 2em;
    }

    .review-text-container {
        margin-left: 5em;

        font-size: 1.1em;
    }

    #review-slideshow img {
        margin-right: 5em;

        height: 300px;
        min-width: 200px;
    }
}

@media (max-width: 1024px) {
    .info-boxes-container {
        min-width: unset;
        margin-right: unset;
        margin-left: unset;
    }

    .info-box {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .blue-piggy-banner {
        flex-direction: column;

        justify-content: center;

        padding-bottom: 50px;
    }

    .banner-image-container {
        width: 100%;
        height: 300px;
    }

    .banner-text-container {
        width: 90vw;

        text-align: center;
        margin: auto;
    }

    .banner-text-container h1 {
        font-size: 2.3em;
        line-height: 1.1em;
        margin-bottom: auto;
    }

    .banner-text-container h2 {
        font-size: 1.4em;
    }

    .banner-text-container a {
        margin: auto;
    }

    .info-boxes-container {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        margin-right: unset;
        margin-left: unset;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .info-box {
        width: 100%;
    }

    .product-slideshow-container {
        width: 90vw;
    }

    .review-slideshow-container {
        width: 90vw;
    }

    .review-text-container {
        margin-left: 0;

        height: 600px;

        font-size: 1.3em;
    }

    #review-slideshow .glide__slide {
        flex-direction: column-reverse;

        height: 700px;
    }

    #review-slideshow img {
        padding-top: 70px;
        margin-right: 0;

        height: 60%;
        min-width: unset;
    }

    #review-slideshow .glide__arrow {
        top: 5%;
    }

    #review-slideshow .glide__arrow--left {
        left: 0;
        padding-right: 21px;
    }

    #review-slideshow .glide__arrow--right {
        right: 0;
        padding-left: 21px;
    }
}
