html, body {
    margin: auto;
  
    height: 100%;

    font-family: Arima;

    color: #000;
}

main {
    min-height: 100%;
  
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.blue-piggy-slideshow {
    padding-bottom: 100px;

    margin-left: auto;
    margin-right: auto;

    width: 80vw;
    max-width: 1300px;
}

.slideshow-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    column-gap: 40px;
}

.slideshow-text-container {
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
}

.glide {
    display: flex;
    align-items: center;
}

.glide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glide__slide {
    height: 400px;
    color: #fff;
    background: rgb(136, 133, 133);
    font-size: 1em;
    font-weight: 900;
}

@media (max-width: 767px) {
    .blue-piggy-slideshow {
        width: 100vw;
    }
}
